repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.64.5
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: go-fmt
        name: go-fmt
        entry: gofmt -w
        language: system
        types: [go]
      - id: go-mod-tidy
        name: go-mod-tidy
        entry: go mod tidy
        language: system
        files: (go.mod|go.sum)$
        pass_filenames: false
      - id: go-test
        name: go-test
        entry: go test ./...
        language: system
        types: [go]
        pass_filenames: false
