{{ define "search" }}
{{ template "navbar" . }}
{{ template "base" .}}
{{ end }}

{{ define "extra_js" }}
<script src="/js/sortable.min.js"></script>
{{ end }}

{{ define "extra_css" }}
<link href="/css/sortable.min.css" rel="stylesheet">
{{ end }}

{{ define "body" }}
<div class="container">
    &nbsp;
    <form class="row row-cols-auto g-2" action="/search" method="post">
        <div class="col-2">
            <select class="form-select" aria-label="Key" name="key">
                <option value="Name" selected>Name</option>
                <option value="InfoHash">Info hash</option>
                <option value="Files">File name</option>
                <option value="DiscoveredOn">Date</option>
            </select>
        </div>

        <div class="col-2">
            <select class="form-select col-12" aria-label="MatchType" name="match-type">
                <option value="contains" selected>contains</option>
                <option value="equals">equals</option>
                <option value="startswith">starts with</option>
                <option value="endswith">ends with</option>
            </select>
        </div>

        <div class="col-6">
            <input type="text" class="form-control col-12" aria-label="Search input" name="search-input">
        </div>

        <div class="col-2">
            <button class="btn btn-primary" type="submit">Search!</button>
        </div>
    </form>
&nbsp;

    {{ template "torrent_table" . }}
</div>
{{ end }}