<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">dhtc</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link{% if 'dashboard' in path or path == '/' %} active{% endif %}" href="/dashboard">dashboard</a></li>
                    <li class="nav-item"><a class="nav-link{% if 'search' in path %} active{% endif %}" href="/search">search</a></li>
                    <li class="nav-item"><a class="nav-link{% if 'discover' in path %} active{% endif %}" href="/discover">discover</a></li>
                    <li class="nav-item"><a class="nav-link{% if 'watches' in path %} active{% endif %}" href="/watches">watches</a></li>
                    <li class="nav-item"><a class="nav-link{% if 'blacklist' in path %} active{% endif %}" href="/blacklist">blacklist</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>