{{define "torrent_table"}}
{{if .results}}
<table class="table table-striped table-responsive table-bordered sortable">
    <thead>
    <tr>
        <th>Name</th>
        <th>Total size</th>
        <th>File count</th>
        <th>First seen</th>
        <th>Action</th>
    </tr>
    </thead>
    {{range.results}}
    <tr>
        <td style="word-break: break-word">{{ .Name }}</td>
        <td data-sort="{{ .TotalSize }}" >{{ .TotalSize | filesizeformat }}</td>
        <td>{{ .Files | length }}</td>
        <td>{{ .DiscoveredOn }}</td>
        <td><a href="magnet:?xt=urn:btih:{{ .InfoHash }}&amp;dn={{ .Name }}" type="button" class="btn btn-outline-info">Open</a></td>
    </tr>
    {{end}}
</table>
{{end}}
{{end}}
