on:
  push:
    tags:
      - 'v*'

name: Create Release

jobs:
  build:
    name: Create Release

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24'

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Build CSS
        run: npm run build:css

      - name: Go get
        run: go get dhtc

      - name: Build Linux
        if: runner.os == 'Linux'
        run: go build -v -o dhtc-linux cmd/dhtc/main.go

      - name: Build macOS
        if: runner.os == 'macOS'
        run: go build -v -o dhtc-macos cmd/dhtc/main.go

      - name: Build Windows
        if: runner.os == 'Windows'
        run: go build -v -o dhtc-windows.exe cmd/dhtc/main.go

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: dhtc-*
